@using Mayando.Web.Properties
@using Mayando.Web.Extensions

@*@if (Request.IsAuthenticated) { 
                @Resources.LogOnWelcome <b>@Page.User.Identity.Name</b>
                @Html.ActionLinkAccountLogOff(Resources.AccountLogOff)
                @Html.ActionLinkAccountChangePassword(Resources.AccountChangePassword)
 } else { 
                @Html.ActionLinkAccountLogOn(Resources.AccountLogOn)
 } *@


@if (Request.IsAuthenticated) {
    
       
        @Resources.LabelTextHello
    
    @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", null, new { @class = "username" })
        @Html.ActionLink(Resources.AccountLogOff, "LogOff", "Account");
   
} else {

    @* <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", data_dialog_title = "Registration" })</li>*@
   @Html.ActionLink(Resources.AccountLogOn, "Index", "Account")
   
}