@using Microsoft.AspNet.Identity
@using Myembro.Properties


@*@if (Request.IsAuthenticated) { 
                @Resources.LogOnWelcome <b>@Page.User.Identity.Name</b>
                @Html.ActionLinkAccountLogOff(Resources.AccountLogOff)
                @Html.ActionLinkAccountChangePassword(Resources.AccountChangePassword)
 } else { 
                @Html.ActionLinkAccountLogOn(Resources.AccountLogOn)
 } *@

    
@if (Request.IsAuthenticated)
{
    
    
      using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

   @* <ul class="nav navbar-nav navbar-right">
        <li>*@
            @Html.ActionLink(string.Format("{0} {1}{2}",Resources.LabelTextHello , User.Identity.GetUserName() , "!"), "Manage", "Account", routeValues: null, htmlAttributes: new {  @class = "username" ,title = "Manage" })
       @* </li>
<li>*@
    <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.AccountLogOff</a>
@*</li>
    </ul>*@
    }
    @*
    <span>  
    @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", null, new { @class = "username" })</span>
    <span>  @Html.ActionLink(Resources.AccountLogOff, "LogOff", "Account")</span>*@
    

}
else
{

@* <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", data_dialog_title = "Registration" })</li>*@
    @Html.ActionLink(Resources.AccountLogOn, "Index", "Account")
   
     }

       