@using JelleDruyts.Web.Mvc
@model IEnumerable<Myembro.Models.Menu>
<style>
    ul#menu li a{
        height: 20px;            
      
    }

       ul#menu li a {
       padding-bottom: 20px;            
      
    }

    

       ul#menu li a span:first-child {
        font-size: xx-large;  
         color: #333333;      
    }

         ul#menu li a  sub {
         font-size: medium;
             color:orangered;
          font-family: Ubuntu;
    }
   ul#menu li.selected a{ background-color: darkorange; color: white;}
    ul#menu li.selected a sub{ color: white;}
</style>
<div id="menucontainer">
    <ul id="menu">
        @foreach (var menu in Model)
        {
          
            <li class="@( (menu.Selected)?  Html.Raw("selected"):Html.Raw(""))">
                <a class="btn" href="@menu.Url" title="@menu.ToolTip">
                     <span class="@string.Format(" {0}",menu.cssClass)"/><sub> @menu.Title</sub>
                </a>
               @* @Html.Raw(Html.Link(menu.Url, menu.Title, menu.OpenInNewWindow, menu.ToolTip ))*@
            </li>
        } 
    </ul>
</div>

