@using JelleDruyts.Web.Mvc
@using Mayando.Web.Extensions
@using Mayando.Web.Infrastructure
@using Mayando.Web.Properties
@using Mayando.Web.ViewModels

@{

    MasterViewModel masterViewModel = ViewData["MasterViewModel"] as MasterViewModel;

}  
    
    <html xmlns="http://www.w3.org/1999/xhtml">
   
   
            <head>
                <title>
                    @if (IsSectionDefined("TitleContent"))
                    {
                        @RenderSection("TitleContent", false);
                    }
                    @if (masterViewModel != null)
                    {
                    Html.Encode(masterViewModel.SiteData.Settings.Title);
                    }
                </title>

                @if (masterViewModel != null){ Html.RenderPartial(PartialViewName.HtmlHeaders, masterViewModel); }
            </head>

    <body>
        <style type="text/css">
            .align_center_to_right
            {
                margin-left: auto;
                margin-right: auto;
                width: 1024px;
            }
        </style>
        <div class="page align_center_to_right">
            <span>
                @{ Html.RenderPartial(PartialViewName.LogOnUserControl.ToString()); }
            </span>
            <span>
                @{ Html.RenderPartial(PartialViewName.LanguageSwitch); }
            </span>
            <div id="branding">
                @if (masterViewModel != null)
                {
                    <a href="@masterViewModel.SiteData.HomepageUrl">
                        <img src="@Url.Content("~/content/images/svg/sew-dock.svg")" alt="Sew Dock" width="800" height="128" style="border: 0;" />
                    </a>
                }
            </div>
            <div id="header">
                <div id="title">
                    @*                <h1>@Html.Raw(Html.Link(masterViewModel.SiteData.HomepageUrl, masterViewModel.SiteData.Settings.Title))</h1>*@

                </div>

                @if (masterViewModel != null)
                { Html.RenderPartial(PartialViewName.Menu, masterViewModel.SiteData.Menus); }
            </div>
            <div id="main">
                @if (User.CanSeeAdministratorContent())
                {
                    if (IsSectionDefined("AdminLinks"))
                    {
                        @RenderSection("AdminLinks", false)
                        ;
                    }
                    
                    if (masterViewModel != null)
                     {
                         Html.RenderPartial(PartialViewName.Tools, masterViewModel.SiteData);
                     }
                
                }
                @Html.ValidationSummary(Html.Encode(Resources.ValidationSummaryGenericTitle))
                @if ((masterViewModel != null)  && (!string.IsNullOrEmpty(masterViewModel.PageFlash)))
                {
                    <div class="pageflash">@masterViewModel.PageFlash</div>
                }
                @if (IsSectionDefined("MainContent"))
                {
                    @RenderSection("MainContent", false)
                    ;
                }
                @RenderBody()
            </div>

            @if (masterViewModel != null)
            {
                <div id="footer" style="width: 1024px;">
                    @masterViewModel.SiteData.Settings.Footer - &copy; @masterViewModel.Now.Year @Html.Encode(masterViewModel.SiteData.Settings.OwnerName) - @Html.TimeZoneInfo()
                </div>
            }
        </div>
    </body>

    </html>
   
