@model Myembro.Models.Comment
@using System.Globalization
@using Myembro.Extensions
@using Myembro.Infrastructure
@using JelleDruyts.Web.Mvc
@using Myembro.Properties
@using Myembro.ViewModels
@{
    Layout = null;
    }
<div id="cmnt@(Model.Id)" class="comment @(Model.AuthorIsOwner ? " comment-owner" : string.Empty)" >
  
    <div class="comment-title">
        @(Resources.PhotoCommentsBy)
        <span class="comment-author">@Html.Raw(Html.Link(Model.AuthorUrl, Model.AuthorName, true)) </span>
        <span class="comment-date">@Html.DateTimeText(Model.DatePublished, DateTimeDisplayType.CommentPublished)</span>
         @if (User.IsAdministrator() || Model.UserIsAuthor)
         {
               Html.RenderPartial("Tool", new CommentToolViewModel{CommentID = Model.Id,EmbroId = Model.EmbroId});
         }
      
    </div>
    <div class="comment-content">
        <div class="comment-gravatar">
            <img src="@Url.Gravatar(Model.AuthorEmail, 60, Url.ThemedContent("~/content/anonymous.png"))" height="60" width="60" alt="Gravatar" />
        </div>
      
 
        <div class="comment-text">@Html.Raw(Html.EncodeWithLineBreaks(Model.Text))</div>
    </div>
</div>

