@using Mayando.Web.Extensions
@using Mayando.Web.Properties
@model Mayando.Web.ViewModels.CommentEditViewModel

@{Layout = null;}

<div id="commenteditpage">

    @using (Html.BeginCommentsEditForm()) { 
       var comment = Model.Comment;
        @Html.Hidden("EmbroId", value: comment.EmbroId)
        @Html.Hidden("returnUrl", value: Request.Url.AbsoluteUri)
        @Html.ValidationSummary("The item could not be saved. Please correct any errors and try again.")
        <fieldset>
            <legend>Comment</legend>
            <p>
                <label for="AuthorName" class="required">Author's Name:</label>
                @Html.TextBox("AuthorName", comment.AuthorName ?? string.Empty)
                @Html.ValidationMessage("AuthorName", "*")
            </p>
            <p>
                <span>
                <label for="AuthorEmail" class="optional">Author's Email:</label></span>
                <span>
                @Html.TextBox("AuthorEmail", comment.AuthorEmail ?? string.Empty)
                @Html.ValidationMessage("AuthorEmail", "*")</span>
            </p>
            <p>
                <label for="AuthorUrl" class="optional">Author's URL:</label>
                @Html.TextBox("AuthorUrl", comment.AuthorUrl ?? string.Empty)
                @Html.ValidationMessage("AuthorUrl", "*")
            </p>
            <p hidden="hidden">
                <label for="DatePublished" class="required">Date Published:</label>
                @Html.TextBox("DatePublished", comment.DatePublished.ToEditString())
                @Html.ValidationMessage("DatePublished", "*")
            </p>
       
            <p>
                <label for="Text" class="required">Text:</label>
                @Html.TextArea("Text", comment.Text, 8, 80, new { @class ="background-smiled"})
                @Html.ValidationMessage("Text", "*")
            </p>
            <p>
             <label class="control-label" for="CaptchaPicture" id="captcha">
                @Html.TextBox("Captcha", comment.Captcha, new {@readonly="readonly",@overflow="scroll"})
            </label>
                @Html.TextBox("UserInputCaptcha", comment.UserInputCaptcha)
                @Html.ValidationMessage("UserInputCaptcha", "*")
            </p>
            <p>
                <input type="submit" value="@Resources.PhotoCommentsAddComment" />
            </p>
        </fieldset>
      } 
</div>
