@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Denis Mandrykin";
}
<style>
    img#my-photo{ width: 25%;height:25%}
    img#LETI-photo{ width: 75%;height:75%}
    img#personal-page{ width: 55%;height:105%}
    div#social-links,div#deeds-div{ text-decoration: none;}
    /*div.jumbotron{ border: solid burlywood 2px;}*/
</style>
<div class="jumbotron">
    <h3>Denis Mandrykin</h3>
  @*  <p class="lead">Personal web page</p>*@
    <span><img id="my-photo" src="@Url.Content("~/content/images/jpg/DenisWithBird-Black-White.jpg")"   /></span>
    <span><img id="personal-page" src="@Url.Content("~/content/images/png/personal-page.png")"   /></span>
    <p>
        This photo has been taken  during a camel ride in the North Africa.<br/>
        First of all I am a father of two children: boy and girl. The best combination some body thinks<br/>
        But this is not the case. They have been fighting since they are can to walk.<br/>
        My daughter Daria is smart and calm.Son Nikolai is also smart.
        He is calmless at all - how boy should really be.<br/> 
        <br/>
        Wife has the same education as me. She has graduated with honours a few years erlier me. <br/>
        We are not humanitarian even in the slightest. We  attended the same university. It is on the folowed picture. <br/>
        Person on the picture under the pedastrian road sign is not me.
    </p>
    <img id="LETI-photo" src="@Url.Content("~/content/images/jpg/LETI-BLOCK-ONE.jpg")"   />
    <br/>
    <br/>
    <div id="social-links">
        <a href="http://vk.com/den367" target="_blank" title="VKontakte">
            <img src="@Url.Content("~/Content/Images/Icon/circle-social-vkontakte.svg")"/>        
        </a>
        <a target="_blank" title="LinkedIn" href="http://ru.linkedin.com/pub/%D0%B4%D0%B5%D0%BD%D0%B8%D1%81-%D0%BC%D0%B0%D0%BD%D0%B4%D1%80%D1%8B%D0%BA%D0%B8%D0%BD/44/4a4/4b7/">
            <img src="@Url.Content("~/Content/Images/Icon/linkedin_circle_color.svg")"/>        
        </a>
        <a target="_blank" title="Facebook" href="http://www.facebook.com/denis.mandrykin">
            <img src="@Url.Content("~/Content/Images/Icon/facebook.svg")"/>        
        </a>
        <a target="_blank" title="GitHub" href="http://www.github.com/den367">
            <img src="@Url.Content("~/Content/Images/Icon/github_circle_color.svg")"/>        
        </a>
   
    </div>
    <br/>
    <div id="deeds-div">
    <span>@Html.ActionLink("Embroideries", "Index", "Embro", null, new { @class = "btn btn-large navbar-brand" })</span>
        <span> @Html.ActionLink("CV", "Index", "Profile",  null, new { @class = "btn btn-large navbar-brand" })</span>
        </div>
    <br/>
</div>

