@using Myembro.Extensions           
@using Myembro.Properties


    @using (Html.BeginContactSendMessageForm()) { 
    <div id="contact-form">
      
        @Html.ValidationSummary(Resources.ValidationSummaryGenericTitle)
        <table>
            <tbody>
                <tr>
                    <td><label for="AuthorName" class="required">@Resources.ContactAuthorName</label></td>
                    <td>@Html.TextBox("AuthorName")@Html.ValidationMessage("AuthorName", "*")</td>
                </tr>
                <tr>
                    <td><label for="AuthorEmail" class="required">@Resources.ContactAuthorEmail</label></td>
                    <td>@Html.TextBox("AuthorEmail")@Html.ValidationMessage("AuthorEmail", "*")</td>
                </tr>
                <tr>
                    <td style="vertical-align: top"><label for="Text" class="required">@Resources.ContactAuthorMessage</label></td>
                    <td>@Html.TextArea("Text", string.Empty, 8, 80, null)@Html.ValidationMessage("Text", "*")</td>
                </tr>
                <tr>
                    <td colspan="1"><input type="submit" value="@Html.AttributeEncode(Resources.ContactSubmit)" /></td>
                   
                </tr>
            </tbody>
        </table>
    </div>
     } 
